.page__footer {
  display: flex;
  flex-direction: column;
  padding: 79px 70px 0;
  background-color: #202020;
}

@media (min-width: 768px) and (max-width: 1024px)  {
  .page__footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page__footer {
    padding: 79px 10px 0;
  }
}

.page__footer_type_saved-movies {
  padding-top: 52px;
}

@media (min-width: 320px) and (max-width: 767px){
  .page__footer_type_saved-movies {
    padding-top: 52px;
  }
}

.footer__title {
  margin: 0 0 20px 0;
  text-align: center;
  color:  #8B8B8B;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #424242;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 17px;
  }
}

.footer__nav{
  display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
    order: -1;
  }
}

.footer__text {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color:#FFFFFF;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__link {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: 12px;
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.footer__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__link:last-of-type {
    margin-bottom: 28px;
  }
}


